* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: #696969;
}

/* CLASS CHUNG */
.title p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #f53626;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

.title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 1200px;
}

/* header */
.header {
    height: 90px;
    background-color: #151515;
    margin: 0;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1000;
}


.header .container {
    padding: 0 25px;
}

#header .navbar {
    padding: 0;

}

#header .navbar-brand {
    font-size: 34px;
    font-weight: 600;
    color: #189a46;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.header .navbar-brand:hover {
    color: #189a46;
}

.header .menu li {
    padding: 0 12px;
    background-color: #151515;

}

.header .menu li a {
    color: #ddd !important;
    font-size: 19px;
    display: inline-block;
    padding: 14px 0 !important;
    transition: all 0.5s;
}

.header .menu li a::after {
    content: '';
    width: 0;
    display: block;
    height: 1px;
    background-color: #189a46;
    transition: all 0.5s ease;
}

.header .menu li a:hover::after {
    width: 100%;
}

.header .menu li a:hover {
    color: #189a46 !important;
}

.header .menu a.active {
    color: #189a46 !important;
}

.header .arrow-down {
    font-size: 12px;
    padding-left: 3px;
}

.header .moon {
    font-size: 24px;
   
    color: #ddd;
    height: 20px;
}

.header .moon1 {
    line-height: 57.5px;
    margin-left: 25px;
}

.header .navbar-dark .navbar-toggler-icon {
    background-color: #189a46;

}

.header .navbar-toggler {
    padding: 0;
}

.header .navbar-nav {
    background-color: white;
    text-align: center;
}


/* carousel */
.carousel {
    position: relative;
}

.carousel .item h4 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: white;
    margin: 0;
    text-transform: capitalize;
}

.carousel .item p {
    font-size: 19px;
    opacity: 0.9;
    color: white;
    line-height: 30px;
    margin: 0;
    text-transform: capitalize;
}

.carousel .item a {
    font-size: 18px;
    line-height: 28px;
    padding: 12px 35px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 48px;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.carousel .item a:hover {
    background-color: white;
    color: #189a46;
}

.carousel .item a.active {
    background-color: white;
    color: #189a46;

}

.carousel .container .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 60;
    margin: 0 auto;
}

.carousel .item1 {
    background: url(../img/banner1.jpg) no-repeat center/cover;
    height: 585px;
    position: relative;
}

.carousel .item1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0c0c0c;
    opacity: 0.6;
}

.carousel .item2 {
    background: url(../img/banner2.jpg) no-repeat center/cover;
    height: 585px;
    position: relative;
}

.carousel .item2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0c0c0c;
    opacity: 0.6;
}

.carousel .item2 .content {
    margin-left: 425px;
}

.carousel .item3 {
    background: url(../img/banner3.jpg) no-repeat center/cover;
    height: 585px;
    position: relative;
}

.carousel .item3::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0c0c0c;
    opacity: 0.6;
}

.carousel .item4 {
    background: url(../img/banner4.jpg) no-repeat center/cover;
    height: 585px;
    position: relative;
}

.carousel .item4::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0c0c0c;
    opacity: 0.6;
}

.carousel .item4 .content {
    margin-left: 425px;
}

.carousel .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel .owl-theme .owl-dots .owl-dot.active span,
.carousel .owl-theme .owl-dots .owl-dot:hover span {
    width: 30px;
    height: 10px;
    background-color: #189a46;
}

.carousel .owl-dot {
    outline-style: none;
}

/* aboutus */
.aboutus {
    padding: 48px 0px;
    background-color: #151515;
}

.aboutus .container {
    padding: 48px 15px;
}

.aboutus .content {
    max-width: 700px;
    margin: 0 auto;
}
 
.aboutus .title h1 {
    color: #ddd;
}

.aboutus .body p {
    margin: 16px 0;
    line-height: 28px;
    color: #afafaf;
    font-size: 19px;
}

.aboutus .body a {
    font-size: 17px;
    margin-top: 20px;
    color: #ddd;
    font-weight: 600;
    border-bottom: 2px solid #189a46;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

.aboutus .body a:hover {
    color: #189a46;
}

/* portflio */
.portflio {
    padding: 48px 0;
    background-color: #222;
}

.portflio .container {
    padding: 48px 25px;
}

.portflio .card i {
    font-size: 30px;
    color: #189a46;
}

.portflio .card h5 {
    font-size: 24px;
    font-weight: 600;
    margin: 25px 0 15px;
    color: #ddd;
}

.portflio .card h5:hover {
    color: #189a46;
}

.portflio .card p {
    color: #afafaf;
    line-height: 28px;
    font-size: 19px;
}

.portflio .card a {
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    display: inline-block;
    color: #ddd;
    border-bottom: 2px solid #189a46;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.portflio .card a:hover {
    color: #189a46;
}

.portflio .card {
    padding: 40px 30px;
    border: none;
    border-radius: 10px;
    background-color: #151515;
    transition: all 0.5s;
}

.portflio .card:hover {
    background-color: #222;
}

.portflio .coltop {
    margin-bottom: 30px;
}

/* offer */
.offer {
    padding: 48px 0;
    background-color: #151515;

}

.offer .container {
    padding: 48px 25px;
}

.offer .col1 {
    padding: 0 15px 0 48px;
}

.offer img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.offer .title p,
.offer .title h1 {
    text-align: left;
}
.offer .title h1 {
    color: #ddd;

}

.offer .body p {
    margin: 15px 0 35px;
    font-size: 16px;
    line-height: 24.5px;
    color: #afafaf;
}

.offer .body li {
    margin: 15px 0;
    list-style: none;
    color: #dddddd;
    font-weight: 600;
}

.offer .body li i {
    color: #189a46;
    font-size: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #222222;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    margin-right: 12px;
}

.offer .main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* **********Respondsie*************** */
@media screen and (max-width: 991px) {
    #header {
        height: 70px;
    }

    .header .container {
        padding: 10px;
    }

    #header .navbar {
        position: relative;
    }

    .carousel .item h4 {
        font-size: 50px;
    }

    .header .navbar-toggler:focus {
        border: 2px solid black;
    }

    .header .navbar-dark .navbar-toggler-icon {
        border-radius: 3px;
    }

    .header .menu li a:hover::after {
        width: 0;
    }

    .header .menu li a {
        color: transparent;
        padding: 6px 0 !important;
    }

    .header .moonthu1 {
        display: none;
    }

    .header .moonthu2 {
        position: absolute;
        right: 60px;
        top: 1px;
    }
}

@media screen and (max-width: 767px) {

    .carousel .item2 .content,
    .carousel .item4 .content {
        margin: 0;

    }

}

@media screen and (max-width: 575px) {
    .carousel .item h4 {
        font-size: 32px;
        line-height: 42px;
    }

    .carousel .item a {
        margin-top: 24px;
    }

}

@media screen and (min-width: 992px) {
    .header {
        display: flex;
        align-items: center;
    }

    .header .moonthu2 {
        display: none;
    }
}

/* number */

/* plan */

/* nutrition */

/* feedback */

/* footer */