*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
    color: #696969;
}
/* header */

/* carousel */

/* aboutus */

/* portflio */

/* offer */

/* number */
.number {
    background-color: #189a46;
    color: #ffffff;
    padding: 50px 0;
}

.number .number-item p {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 0;
}

.number .number-item h4 {
    font-size: 20px;
    opacity: 0.8;
}
/* plan */

/* nutrition */

/* feedback */

/* footer */
